* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #fff8f2;
}

h1,
h2 {
  color: #333333;
}

a {
  text-decoration: none;
}

.btn {
  font: inherit;
  padding: 0.7rem 1.7rem;
  min-height: 40px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ea1227;
  color: white;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #d10115;
}

.btn--alt {
  background-color: transparent;
  color: #ea1227;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

#btn-style {
  min-height: 30px;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  /* width: 20rem; */
  margin-bottom: 1em;
}

.text-center {
  text-align: center;
}

.item-center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.product-item {
  display: flex;
}
.product-item .item-id {
  padding-left: 40px;
  width: 5%;
}
.product-item .item-name {
  padding-left: 40px;
  width: 75%;
  float: left;
}

.product-item .item-price {
  padding-right: 40px;
  width: 20%;
  float: right;
}

.actions {
  text-align: right;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.restaurant-btn {
  float: right;
  font-size: 1.2em;
  margin-right: 10px;
  margin-bottom: 20px;
  text-decoration: underline;
  display: block;
  color: black;
}

.logo {
  min-width: 70px;
  width: 150px;
  margin-top: 3em;
  margin-bottom: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.div-around-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tagline-heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4em;
  text-align: center;
}

.tagline-paragraph {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.tagline-props {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.footer {
  position: relative;
  font-size: 1em;
  margin-top: 5em;
  bottom: 0;
  text-align: center;
}

.extra-margin {
  margin: 15;
}

.select-tag {
  display: block;
  padding: 5px;
  width: 30em;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  margin-bottom: 30px;
}

@media print {
  .no-printme {
    display: none;
  }
  .printme {
    display: block;
  }
}
